@import 'partials/_cards';

body {

}

section#search {
    height: 400px;
    background-image: url('/../storage/img/home-cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#search::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.3);
}

.form-row {
    padding: 12px 26px;
}

.search-box {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}


section#simple-ap {
    margin-top: 35px;
}


.avatar {
    height: 35px;
    margin-right: 10px;
}
