section#search {
    height: 400px;
    background-image: url('/../img/home-cover.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

section#simple-ap {
    margin-top: 35px;
}

.card.card_index {
    transition: 0.5s ease-in-out;
}

.card.card_index:hover {
    transform: scale(1.05);
    box-shadow: 0 0 14px #000;
    cursor: pointer;
}