@import 'partials/_cards';

.status {
    width: 50vw;
}

.navbar-brand img {
    display: inline; 
    height: 60px; 
}

#search {

    min-height: 40vh;
    
    h2 {
        text-align: center;
        font-size: 3em;
        color: white;
        text-shadow: 1px 1px #ffffff;
    }

}

#slider {
    height: 80vh;
    position: relative;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

section#intro {
    position: relative;
}


#intro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

form#search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    z-index: 200;
}

.form-row {
    padding: 12px 35px;
}

.search-box {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.bg-fluid {
    height: 60px;
    background-color: #ECECEC;
    border: 1px solid lightgrey;
}

section#simple-ap {
    margin-top: 35px;
}


.avatar {
    height: 35px;
    margin-right: 10px;
}
