.card-img-top {
    height: 400px;
    background-image: url('https://a0.muscache.com/im/pictures/a521cb47-fe9b-4d6b-b69d-6777b012edf2.jpg?aki_policy=large');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-show {
    background-size: cover;
}
