@import 'host/_reviews';

#up {
    height: 500px;
    padding: 0;
    box-shadow: rgba(20, 96, 58, 0.4) 0px 6px 16px;
}

#map_container {
    height: 400px;
}


.card_show {
    background-color: #f8fafc;
}

.ctn-first {
    height: 100%;
}

.img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.img-ret {
    height: 50%;
}

.img-qdr {
    height: 50%;
}

.d-block {
    height: 500px;
}

.list-group {
    list-style: none;
}


.jumbotron {
    height: 450px;
}

.review {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.description {
    line-height: 2;
}

.review::-webkit-scrollbar {
  display: none;
}

.name-apartment {
    text-transform: uppercase;
}

.cover-show:hover  .overlay-cover-show{
    display: block;
}

.overlay-cover-show {
    display: none;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}

.all-view-show {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    z-index: 999;

    .carousel-item img {
        width: 50vw;
    }
}

.delete-carousel {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
}

@media screen and (max-width: 768px) {
    .d-block {
        height: 400px;
    }
}
