.card-p {

    a {
        display: block;
        flex: 1;
        text-decoration: none;

        .card_index {
            transition: 0.5s ease-in-out;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
            border: none;
        }

        .card-img-bg {
            min-height: 200px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .card-body {
            min-height: 96px;
        }

        .card-title {
            // color: black;
        }

        .card-footer {
            min-height: 70px;

            .card-text {
                .text-muted {}
            }
        }
    }

    .card_index:hover {
        transform: scale(1.05);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

}
