.info {
    background-color: rgba(0, 0, 0, 0.03);
    font-size: 12px;

    h6 {
        padding-bottom: 4px;
    }

    ul li {
        padding-top: 8px;
    }

    ul li a:hover {
        text-decoration: none;
    }

}

.bg-fluid {
    background-color: rgba(0, 0, 0, 0.03);
}

.credits {
    border-top: 1px solid #7f8693;
    color: #7f8693;
    font-size: 12px;

    .jm_social-icon a {
        padding-left: 8px;
        padding-right: 8px;
        font-size: 14px;
        color: #7f8693;

        &:hover {
            color: #00B3B3;

        }
    }

}
