#apartment{
    .i-card-e{
        width: 100%;
        box-shadow: rgba(20, 96, 58, 0.4) 0px 6px 16px;
        height: 150px;
        .i-card-e-img-top{
            border-radius: 5px 0 0 5px;
            border-left: 5px solid #00B3B3;
            width: 200px !important;
            height: 100%;
            background-position: center;
            background-size: cover;
        }
        .i-card-body{
            width: 100%;
            .i-left{
                width: 100%;
                .i-top-card{
                    h6{
                        text-transform: capitalize;
                    }
                }
            }
            .i-right{
                .i-vote{
                    color: white;
                    background-color: #00B3B3;
                    width: 40px; 
                    text-align: center; 
                    padding: 4px;                  
                }
            }
        }
    }


}

