#apartment{
    .i-card-e{
        padding-right: 5px;
        box-shadow: rgba(20, 96, 58, 0.4) 0px 6px 16px;

        .i-card-e-img-top{
            width: 200px;
            height: 160px;
            border-radius: 5px 0 0 5px;
            background-position: center;
            background-size: cover;
        }
        .i-card-body{
            .i-left{
                .i-top-card{
                    h6{
                        text-transform: capitalize;
                    }
                }
            }
            .i-right{
                .i-vote{
                    color: white;
                    background-color: #00B3B3;
                    width: 40px; 
                    text-align: center; 
                    padding: 4px;                  
                }
            }
        }
    }


}

#under {
    position: fixed;
    bottom: 50px;
    right: 20px;
    font-size: 140px;
    color: rgba($color: #00B3B3, $alpha: 0.1);
    z-index: -1;
}