#messages{
  thead{
      tr{
          th{
              color:  #00b3b3;
          }
      }
  }
  tbody{
      tr{
          max-height: 60px; 
          td{
              img{
                  height:60px;
                  
              }
          }
      }
  }
}

#under {
  position: fixed;
  bottom: 50px;
  right: 20px;
  font-size: 140px;
  color: rgba($color: #00B3B3, $alpha: 0.1);
  z-index: -1;
}