#reviews{
    .review{
        height: 100px;
        .image-rev{
            height: 100%;
            .rev-img{
                height: 100%;
                width: auto;
            }
    
        }
    }
}
