#sponsorships{
  .s-card{
    border: 1px solid #00B3B3;
    position: relative;
    
    max-width: 300px;
    .s-image{
      width: 100%;
      height: 150px;
      background-position: center;
      background-size: cover;
    }
    .title{
      background-color: #00B3B3;
      height: 40px;
      strong{
        text-transform: capitalize;
        font-size: 25px;
      }
    }
    .card-body{
      position: static;
      .card-text{
        text-transform: capitalize;
      }
    }

    .s-time{
      width: 100%;
      background-color: #00B3B3;
      color: white;
      font-size: 20px;
      position:absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }

  }
}

#payment-form{

  .card{
    .box-title{
      height: 50px;      
      .card-title{
        text-transform: uppercase;
      }
    }
    .card-body{

      
      .card-description{
      
      }
      .card-text{
        font-weight: 600;
        font-size: 25px;

      }
      

    }
    
  }

}

.gold {
  background-image: linear-gradient(to right, #F7971E 0%, #FFD200  51%, #F7971E  100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  display: block;
}

.silver {
  background-image: linear-gradient(to right, #abbaab 0%, #ffffff  51%, #abbaab  100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  display: block;
}

.platinum {
  background-image: linear-gradient(to right, #1c92d2 0%, #f2fcfe  51%, #1c92d2  100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
    





   .box-title:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
  


  