@import '_reviews';
@import '_profile';
@import '_cardsdashboard';
@import '_cardsap';
@import '_messages';
@import '_apform';
@import '_charts';
@import '_sponsorships';

#all{
    width: 100vw;
    overflow-x: hidden;
}
    .sidebar-nav{
        background-color: #00b3b3;
        min-height: 100vh;
        color: rgba(255,255,255,.4);
        box-shadow: rgba(20, 96, 58, 0.4) 0px 6px 16px;
        .nav{
            width: 100%;
            a.navbar-brand{
                margin-right: 0;
                width: 50%;
                height: 200px;
                img{
                    margin: 0 auto;
                    height: auto;
                    width: 100%;
                }
            }

            .nav-link{
                color: white !important;
            }
            a.nav-link:hover{
                color: white !important;
            }
            .active{
                background-color: rgba(255,255,255,.0) !important;
                color: white !important;
            }
        }
    }
    .rightside{
        padding: 0 !important;
        .topbar{
            height: 60px;
            padding: 5px 20px;
            .nav-item{
                .messages{
                    .message-text{
                        width: 400px;
                    }

                    .app-img{
                        height: 30px;
                    }
                    .text{

                        p{
                            width: 400px;
                        }
                    }
                }
                .nav-link{
                    i{
                        font-size: 30px !important;
                    }
                    .badge{
                        position: absolute;

                        transform-origin: top right;
                        right: 1.25rem;
                        margin-top: -.25rem;
                    }
                    img{
                        width:50px ;
                    }
                }
            }
        }
        .tab-contents{
            height: 100% !important;
            width: 100% !important;
        }
    }

#bnb {
    color: white;
    max-height: 40px;
    width: 70%;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

button,input {
    box-shadow: rgba(20, 96, 58, 0.4) 0px 6px 16px;
}

canvas {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
}

@media screen and(max-width : 580px) {

    #messagesDropdown {
        display: none;
    }

    .sidebar-nav .nav a.navbar-brand{
        width: 100%;
    }
}

