@import '_charts';
@import '_reviews';
@import '_cardsdashboard';
@import '_cardsap';

.row-main{
    
    .sidebar-nav{
        background-color: #00b3b3;
        min-height: 100vh;
        color: rgba(255,255,255,.4);
        box-shadow: rgba(20, 96, 58, 0.4) 0px 6px 16px;

        .nav{
            .navbar-brand{
                width: 100%;
            }
            .hr{
                width: 95%;
                height: 1px;
                background-color: rgba(255,255,255,.7);
            
            }
            .nav-link{
                color: rgba(255,255,255,.4) !important;
                
            }
            a.nav-link:hover{
                color: white !important;
            }
            .active{
                background-color: rgba(255,255,255,.0) !important;
                color: white !important;
            }
        }
    }
    .rightside{
        padding: 0 !important;
        .topbar{
            height: 60px;
            padding: 5px 20px;

            .nav-item{
                
                .messages{
                    .message-text{
                        width: 400px;
                    }
                    
                    .app-img{
                        height: 30px;
                    }
                    .text{
                        
                        p{
                            width: 400px;
                           
                        }
                    }

                }

                .nav-link{

                    i{
                        font-size: 30px !important;
                    }
                  
                    .badge{
                        position: absolute;
                        
                        transform-origin: top right;
                        right: 1.25rem;
                        margin-top: -.25rem;
                    }

                    img{
                        width:50px ;
                    }
                }
            }
        }
        .tab-contents{
            height: 100% !important;
            width: 100% !important;

        }
    

    }


}

#logo {
    width: 30%;
    max-height: 50px;
}
#bnb {
    color: white;
    max-height: 40px;
    width: 70%;
}